.snackbar {
  width: fit-content;
  height: 75px;
  background-color: rgb(157, 248, 104);
  opacity: 0.9;
  position: absolute;
  top: -75px;
  transform: translateX(-50%);
  border-radius: 5px;
  left: 50%;
  padding: 15px;
  animation: snackbarAnim 3s;
  display: flex;
  margin: auto;

  .snackbar-text {
    height: fit-content;
    font-size: 18px;
    color: white;
    font-weight: 700;
  }
}

@keyframes snackbarAnim {
  from {
    top: -75px;
  }
  25% {
    top: 100px;
  }

  75% {
    top: 100px;
  }

  to {
    top: -75px;
  }
}
