.snackbar {
  width: fit-content;
  height: 40px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 95%;
  transform: translateX(-50%);
  border-radius: 5px;
  left: -150px;
  padding: 5px 45px;
  animation: snackbarAnim 3s;
  display: flex;
  min-width: 150px;

  .snackbar-text {
    margin: auto;
    height: fit-content;
    font-size: 18px;
    color: white;
    font-weight: 700;
  }
}

@keyframes snackbarAnim {
  from {
    left: -100px;
  }
  25% {
    left: 100px;
  }

  75% {
    left: 100px;
  }

  to {
    left: -150px;
  }
}
